@using EmailQueue.WebApp.Platform
@{
    string greeting;
    if (User.HasClaim(claim => claim.Type == "name"))
    {
        var name = User.FindFirst("name")?.Value ?? "";
        greeting = name.Contains(',') ? name.Split(',')[1] : name;
    }
    else
    {
        greeting = User.Identity?.Name?.Split('@')[0] ?? "";
    }
}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Batch Viewer</title>
    <link rel="icon" href="@Url.Content("~/icon.svg")" type="image/svg+xml">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <partial name="_RaygunScriptsPartial" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm bg-body-tertiary border-bottom box-shadow mb-3">
        <div class="container">
            <span class="navbar-brand">Email Batch Viewer</span>
            <div class="navbar-collapse">
                <ul class="navbar-nav flex-grow-1">
                    <li><a asp-page="/AllBatches" class="nav-link">All Batches</a></li>
                    <li><a asp-page="/BatchDetails" class="nav-link">View Batch</a></li>
                </ul>
                <ul class="navbar-nav">
                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        <li class="nav-item">
                            <span class="navbar-text d-block">Hello, @greeting</span>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <span class="navbar-text d-block">Not signed in</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="pt-2 pb-3">
    <div class="container">
        @RenderBody()
    </div>
</main>

<footer class="border-top footer text-muted">
    <div class="container"><small>
            Email Batch Viewer
            @if (!string.IsNullOrEmpty(AppSettings.InformationalVersion))
            {
                <span class="d-print-none">| Current version: @AppSettings.InformationalVersion
                    @if (!string.IsNullOrEmpty(AppSettings.InformationalBuild))
                    {
                        <em>(@AppSettings.InformationalBuild)</em>
                    }
            </span>
            }
        </small>
    </div>
</footer>

<script>
    ;(function () {
        function updateTheme() {
            let theme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
            document.querySelector("html").setAttribute("data-bs-theme", theme);
        }

        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateTheme);
        updateTheme();
    })()
</script>
</body>
</html>
