@page
@using EmailQueue.WebApp.Platform
@model BatchDetailsModel
@{
    ViewData["Title"] = "Email Batch Details";
}

@if (!string.IsNullOrEmpty(Model.NotificationMessage))
{
    <div class="alert alert-warning" role="alert">
        @Model.NotificationMessage
    </div>
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @Model.ErrorMessage
    </div>
}

<div class="clearfix my-4">
    <div class="border rounded p-3 bg-light-subtle float-start">
        <form method="post" class="row row-cols-auto g-3 align-items-center">
            <div class="col">
                <label asp-for="BatchId" class="col-form-label"></label>
            </div>
            <div class="col">
                <input asp-for="BatchId" class="form-control" />
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">View</button>
            </div>
        </form>
    </div>
</div>

@if (Model.ShowResults)
{
    @if (!Model.EmailTasks.Any())
    {
        <div class="alert alert-info">
            No emails found for this Batch ID.
        </div>
    }
    else
    {
        <div class="alert alert-info">
            @Model.EmailTasks.Count() emails found for this Batch ID.
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" class="text-end">#</th>
                    <th scope="col">Initiator</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Recipients</th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col" class="text-center">Created</th>
                    <th scope="col" class="text-center">Sent</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var task in Model.EmailTasks)
                {
                    <tr>
                        <td class="text-end">@task.Counter</td>
                        <td>@task.ApiKeyOwner</td>
                        <td>@task.Subject</td>
                        <td>@string.Join(", ", task.Recipients)</td>
                        <td class="text-center">
                                <span class="badge bg-@(task.Status switch
                                                      {
                                                          "Sent" => "success",
                                                          "Failed" => "danger",
                                                          "Processing" => "warning",
                                                          _ => "secondary",
                                                      })">
                                    @task.Status
                                </span>
                        </td>
                        <td class="text-center">@task.CreatedAt.ToLocalTime().ToString(AppSettings.DateTimeFormat)</td>
                        <td class="text-center">@(task.AttemptedAt?.ToLocalTime().ToString(AppSettings.DateTimeFormat) ?? "-")</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
}
